﻿.nav-link.active {
    color: inherit; /* Remove the green color */
}

.nav-link.active:hover {
    color: #ffffff; /* Color on hover (white in this case) */
    background-color: #007bff; /* Background color on hover (blue in this case) */
}
